{% extends 'base.html' %}
{% block body %}   
        <h1 align="center">Cadastrar Usuário</h1>
        <br>
        <!-- URL_FOR ROTA PARA O METODO CADASTRO-->
        <form action="{{ url_for('cadastrarUsuario') }}" method="POST" align="center">

            <table align="center">
                <tr>
                    <td >E-mail</td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td>Senha</td>
                    <td><input type="password" name="senha"></td>
                </tr>
                <tr>
                    <td>Administrador</td>
                    <td align="left"><input  type="checkbox" name="adm"></td>
                </tr>
                
            </table><br>
            <input type="submit" value="Cadastrar"></input>
            
        </form>
        <br><a href="{{ url_for('usuario') }}">Voltar</a>  
{% endblock %}