{% extends 'base.html' %}
{% block body %}   
        <h1 align="center">Lista de Usuários</h1>
        <br>
        <table border="4" align="center" >
            <tr>
                <td align="center">ID</td>
                <td align="center">E-mail</td>
                <td align="center">Administrador</td>
                <td align="center">Excluir</td>
                <td align="center">Atualizar</td>
            </tr>

            <!--FOR DE PESSOA EM PESSOAS-->
            {% for usuario in  usuarios %}
            <tr>
                <td align="center">{{ usuario.id_Usuario }}</td>
                <td align="center">{{ usuario.email }}</td>
                <td align="center">{{ usuario.adm }}</td>
                <td align="center"><a href="/excluirUsuario/{{ usuario.id_Usuario  }}">X</a></td>
                <td align="center"><a href="/atualizarUsuario/{{ usuario.id_Usuario  }}">Atualizar</a></td>
            </tr>
            {% endfor %}
        </table>
        <br><a href="{{ url_for('usuario') }}">Voltar</a>  
{% endblock %}

