{% extends 'base.html' %}
{% block body %} 
        <h1 align="center">Atualizar Fornecedor</h1>
        <br>
        <!-- URL_FOR ROTA PARA O METODO CADASTRO-->
        <form method="POST" align="center">

            <table align="center">
                <tr>
                    <td>Nome</td>
                    <td><input type="text" name="nomeFornecedor" value="{{ fornecedor.nomeFornecedor }}"></td>
                </tr>
                <tr>
                    <td>Telefone</td>
                    <td><input type="text" name="telefoneFornecedor" value="{{ fornecedor.telefoneFornecedor }}"></td>
                </tr>
                <tr>
                    <td>CNPJ/CPF</td>
                    <td><input type="text" name="cpf_cnpjFornecedor" value="{{ fornecedor.cpf_cnpjFornecedor }}"></td>
                </tr>
                <tr>
                    <td>Tipo de fornecedor</td>
                    <td><input type="radio" name="tipoFornecedor" value="Fisica" id="fisica" > Pessoa Fisica </td>
                    <td><input type="radio" name="tipoFornecedor" value= "Juridica" id="juridica"> Pessoa Juridica</td>
                </tr>
                
            </table><br>
            <input type="submit" value="Atualizar"></input>
            
        </form>
        <br><a href="{{ url_for('fornecedorPage') }}">Voltar</a>
{% endblock %}