{% extends 'base.html' %}
{% block body %} 
        <h1 align="center"> Lista de Fornecedores</h1>
        <br>
        <table border="4" align="center">
            <tr>
                <td>Codigo Fornecedor</td>
                <td>Nome</td>
                <td>Telefone</td>
                <td>CPF/CNPJ</td>
                <td>Tipo</td>
                <td>Excluir</td>
                <td>Atualizar</td>
            </tr>

            <!--FOR DE PESSOA EM PESSOAS-->
            {% for fornecedor in fornecedores %}
            <tr>
                <td align="center">{{ fornecedor._codFornecedor }}</td>
                <td>{{ fornecedor.nomeFornecedor }}</td>
                <td>{{ fornecedor.telefoneFornecedor }}</td>
                <td>{{ fornecedor.cpf_cnpjFornecedor }}</td>
                <td>{{ fornecedor.tipoFornecedor }}</td>
                <td align="center"><a href="/fornecedores/excluir/{{ fornecedor._codFornecedor }}">X</a></td>
                <td><a href="/fornecedores/atualizar/{{ fornecedor._codFornecedor }}">Atualizar</a></td>
            </tr>
            {% endfor %}
        </table>
        <br><a href="{{ url_for('fornecedorPage') }}">Voltar</a> 
{% endblock %}

