{% extends 'base.html' %}
{% block body %}   
        <h1>Menu</h1>
        <br>
        <!-- URL_FOR é para uma rota -->
        <nav>
            <ul align="center">
                <li><a href="{{ url_for('usuario') }}">Usuários</a></li>
                <li><a href="{{ url_for('produtoPage') }}">Produtos</a></li>
                <li><a href="{{ url_for('fornecedorPage') }}">Fornecedores</a></li>
                <li><a href="{{ url_for('vendaPage') }}">Vendas</a></li>             
            </ul>
        </nav>
        <br><a href="{{ url_for('login') }}">Logout</a>
{% endblock %}