{% extends 'base.html' %}
{% block body %}  
        <h1 align="center">Lista de Produtos</h1>
        <br>
        <table border="4" align="center">
            <tr>
                <td align="center">Codigo Produto</td>
                <td align="center">Nome</td>
                <td align="center">Valor</td>
                <td align="center">Quantidade em estoque</td>
                <td align="center">Excluir</td>
                <td align="center">Atualizar</td>
            </tr>

            <!--FOR DE PESSOA EM PESSOAS-->
            {% for produto in produtos %}
            <tr>
                <td align="center">{{ produto._codProduto }}</td>
                <td align="center">{{ produto.nomeProduto }}</td>
                <td align="center">{{ produto.valorProduto }}</td>
                <td align="center">{{ produto.qntEstoque }}</td>
                <td align="center"><a href="/produtos/excluir/{{ produto._codProduto }}">X</a></td>
                <td align="center"><a href="/produtos/atualizar/{{ produto._codProduto }}">Atualizar</a></td>
            </tr>
            {% endfor %}
        </table>
        <br><a href="{{ url_for('produtoPage') }}">Voltar</a>
{% endblock %} 

